*{
  box-sizing: border-box;
}
.cell{
  display: inline-block;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  float: left;
  cursor: pointer;
}
.dead{
  background-color: #bdbdbda1;
}
.live{
  background-color: #448aff;
}
.start-btn{
  clear: both;
}